In [2]:
import pandas as pd
import numpy as np

from lib.pipepy.pipepy.core import Pipeline

In [5]:
pop = pd.read_csv('data/statbel/TF_SOC_POP_STRUCT_2018.txt', delimiter='|')

/Users/tomdke/.virtualenvs/py3_data_science/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
pop.describe()

,CD_MUNTY_REFNIS,CD_DSTR_REFNIS,CD_RGN_REFNIS,CD_CIV_STS,CD_AGE,MS_POPULATION,CD_YEAR
count,465418.000000,465418.000000,465418.000000,465418.000000,465418.000000,465418.000000,465418.0
mean,45795.085029,45754.592646,2517.923673,22.086554,52.607527,24.442695,2018.0
std,23956.614057,23950.946921,584.591526,11.218918,23.467469,63.746827,0.0
min,11001.000000,11000.000000,2000.000000,10.000000,0.000000,1.000000,2018.0
25%,24033.000000,24000.000000,2000.000000,10.000000,35.000000,2.000000,2018.0
50%,44043.000000,44000.000000,2000.000000,20.000000,53.000000,7.000000,2018.0
75%,63035.000000,63000.000000,3000.000000,30.000000,71.000000,25.000000,2018.0
max,93090.000000,93000.000000,4000.000000,40.000000,100.000000,2936.000000,2018.0

In [3]:
inkomen = pd.read_csv('data/statbel/TF_PSNL_INC_TAX_MUNTY.txt', delimiter='|')

In [4]:
inkomen.describe()

,CD_YEAR,CD_MUNTY_REFNIS,MS_NBR_NON_ZERO_INC,MS_NBR_ZERO_INC,MS_TOT_NET_TAXABLE_INC,MS_TOT_NET_INC,MS_NBR_TOT_NET_INC,MS_REAL_ESTATE_NET_INC,MS_NBR_REAL_ESTATE_NET_INC,MS_TOT_NET_MOV_ASS_INC,...,MS_TOT_MUNICIP_TAXES,MS_NBR_MUNICIP_TAXES,MS_TOT_SUBURBS_TAXES,MS_NBR_SUBURBS_TAXES,MS_TOT_TAXES,MS_NBR_TOT_TAXES,MS_NBR_TOT_TAXES_CREDIT,MS_TOT_RESIDENTS,CD_DSTR_REFNIS,CD_RGN_REFNIS
count,7068.000000,7068.000000,7068.000000,7068.000000,7.068000e+03,7.068000e+03,7068.000000,7.068000e+03,7068.000000,7.068000e+03,...,7.068000e+03,7068.000000,7.068000e+03,7068.000000,7.068000e+03,7068.000000,7068.000000,7068.000000,7068.000000,7068.000000
mean,2010.500000,47163.312394,10453.895444,965.616582,2.976507e+08,3.017776e+08,10453.895444,3.684382e+06,1091.752264,1.238048e+06,...,4.679281e+06,7532.599745,4.836966e+04,580.116016,6.911933e+07,8213.263158,668.690153,18589.713214,47122.241087,2509.337861
std,3.452297,24208.761550,16972.829121,2320.295816,4.404818e+08,4.465664e+08,16972.829121,6.003495e+06,1433.200016,3.823918e+06,...,7.148053e+06,11943.755878,3.222458e+05,3865.471491,1.019367e+08,13311.916197,1610.055263,29836.250166,24203.579707,560.779302
min,2005.000000,11001.000000,49.000000,0.000000,1.152167e+06,1.159653e+06,49.000000,2.105258e+04,6.000000,0.000000e+00,...,0.000000e+00,0.000000,0.000000e+00,0.000000,2.525243e+05,33.000000,0.000000,80.000000,11000.000000,2000.000000
25%,2007.750000,24107.000000,3951.500000,252.000000,1.159598e+08,1.174780e+08,3951.500000,1.068410e+06,438.000000,1.276798e+05,...,1.726241e+06,2856.500000,0.000000e+00,0.000000,2.518398e+07,3100.000000,169.000000,7088.000000,24000.000000,2000.000000
50%,2010.500000,45041.000000,6644.500000,437.000000,1.979674e+08,2.008101e+08,6644.500000,2.056096e+06,748.000000,3.054230e+05,...,3.119136e+06,4850.500000,0.000000e+00,0.000000,4.546945e+07,5242.000000,328.500000,11840.500000,45000.000000,2000.000000
75%,2013.250000,63076.000000,11324.250000,805.250000,3.336788e+08,3.377763e+08,11324.250000,3.774223e+06,1221.000000,8.274262e+05,...,5.375442e+06,8323.500000,0.000000e+00,0.000000,7.917447e+07,8916.250000,622.000000,20013.250000,63000.000000,3000.000000
max,2016.000000,93090.000000,290027.000000,38292.000000,8.181493e+09,8.207163e+09,290027.000000,1.014250e+08,27888.000000,8.151662e+07,...,1.320417e+08,204774.000000,4.349529e+06,52340.000000,1.780583e+09,242466.000000,39319.000000,520504.000000,93000.000000,4000.000000